.nurse-full-contained {
  max-width: 1440px;
  align-items: center;
  display: flex;
  width: 100%;
  height: auto;
}
.nurse-container {
  display: flex;
  justify-content: center;
  background-image: url("../../Assetss/Capawad\ 2.png");
  background-size: cover;
  background-position-x: 0px;
  height: 647px;
  width: 100%;
  background-color: #f5f3ef;
}

.nurse-left {
  flex: 1;
  /* background-color: yellow; */
  display: flex;
  height: auto;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  padding-left: 5%;
  z-index: 1000;
}
.nurse-logo {
  /* background-color: green; */
  width: 10%;
  display: flex;
  align-items: left;
  justify-content: center;
  text-align: left;
}
.nurse-logo img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.nurse-heading {

  /* background-color: purple; */
  width: 90%;
}
.nurse-heading h2 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.nurse-para {
 
  width: 80%;
  /* background-color: orange; */
}
.nurse-para p {
  font-size: 20px;
  color: rgba(34, 34, 34, 1);
  line-height: 24px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
.nurse-button {
  /* background-color: blue; */
  width: 40%;
}
.nurse-button button {
  width: 262px;
  height: 66px;
  background-color: rgba(174, 156, 127, 1);
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  border-radius: 10px;
  border: none;
}
.nurse-right {
  flex: 1;
  /* background-color: pink; */
  display: flex;
  /* height: 647px; */

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  background-image: url("../../Assetss//Rectangle.png");
  background-size: contain;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.nurse-animation {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 32px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  width: 250px;
  text-align: center;
}
@media screen and (max-width: 1290px) {
  .nurse-para p{
    font-size: 18px !important;
  }
  .nurse-container{
    background-position-y: 60px;
  }
  .nurse-button button{
    width: 250;
    height: 55px;
  }
  .nurse-heading h2{
    font-size: 34px;
  }
  .nurse-heading{
    width: 100%;
  }


}
@media screen and (max-width: 1200px) {
  .nurse-para{
    width: 100%;
  }
}
@media screen and (max-width: 999px) {
  .nurse-full-contained{
    flex-direction: column;
    height: auto;
  }
  .nurse-container{
    height: auto;
  }
  .nurse-left{
    width: 90%;
    align-items: center;
    padding-left: 0px;
    margin-bottom: 30px;
  }
  .nurse-heading{
   text-align: center;
  }
  .nurse-para p{
    text-align: center;
  }
  .nurse-button{
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .nurse-right{
    width: 100%;
    height: 600px !important;
    background-size: fill;
    margin-bottom: 30px;
  }
  
}
@media screen and (max-width: 540px) {
  .nurse-button button{
    width: 100%;
  }
  .nurse-button{
    width: 80%;
  }
}
/* @media screen and (max-width: 1300px) {
  .nurse-para {
    width: 95%;
  }
}
@media screen and (max-width: 1335px) {
  .nurse-para {
    width: 97%;
  }
}
@media screen and (max-width: 1200px) {
  .nurse-para {
    width: 97%;
  }
  .nurse-para p {
    font-size: 17px;
  }
}
@media screen and (max-width: 1258px) {
  .nurse-heading {
    width: 95%;
  }
}
@media screen and (max-width: 1218px) {
  .nurse-heading {
    width: 100%;
  }
}
@media screen and (max-width: 1191px) {
  .nurse-heading {
    width: 100%;
  }
}
@media screen and (max-width: 1131px) {
  .nurse-heading {
    width: 100%;
  }
  .nurse-heading h2 {
    font-size: 38px;
  }
}
@media screen and (max-width: 1075px) {
  .nurse-heading {
    width: 100%;
  }
  .nurse-heading h2 {
    font-size: 37px;
  }
}
@media screen and (max-width: 1046px) {
  .nurse-heading {
    width: 100%;
  }
  .nurse-heading h2 {
    font-size: 36px;
  }
}
@media screen and (max-width: 1081px) {
  .nurse-heading {
    width: 100%;
  }
  .nurse-heading h2 {
    font-size: 35px;
  }
}
@media screen and (max-width: 1264px) {
  .nurse-heading h2 {
    font-size: 35px;
  }
  .nurse-para p {
    font-size: 17px;
  }
  .nurse-button button {
    width: 242px;
    height: 56px;
  }
}
@media screen and (max-width: 1264px) {
  .nurse-container {
    height: 590px;
  }
} */
.fadeInFromRight {
  animation: fadeInFromRight 400ms ease-out;
  animation-fill-mode: forwards;
}

.fadeOutToBottom {
  animation: fadeOutToBottom 400ms ease-in;
  animation-fill-mode: forwards;
}

.fadeInFromBottom {
  animation: fadeInFromBottom 400ms ease-out;
  animation-fill-mode: forwards;
}

.fadeOutToTop {
  animation: fadeOutToTop 400ms ease-in;
  animation-fill-mode: forwards;
}

.fadeInFromTop {
  animation: fadeInFromTop 400ms ease-out;
  animation-fill-mode: forwards;
}

.fadeOutToLeft {
  animation: fadeOutToLeft 400ms ease-in;
  animation-fill-mode: forwards;
}

.fadeInFromLeft {
  animation: fadeInFromLeft 400ms ease-out;
  animation-fill-mode: forwards;
}

.fadeOutToRight {
  animation: fadeOutToRight 400ms ease-in;
  animation-fill-mode: forwards;
}

@-webkit-keyframes fadeInFromRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@keyframes fadeInFromRight {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* fadeOutToBottom keyframes */
@-webkit-keyframes fadeOutToBottom {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(100px);
  }
}

@keyframes fadeOutToBottom {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(100px);
  }
}

@-webkit-keyframes fadeOutToBottom {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(100px);
  }
}

@keyframes fadeOutToRight {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(200px);
  }
}
/* fadeInFromRight keyframes */
@-webkit-keyframes fadeOutFromRight {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(200px);
  }
}

@keyframes fadeInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* fadeOutToTop keyframes */
@-webkit-keyframes fadeOutToTop {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
  }
}

@keyframes fadeOutToTop {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100px);
  }
}

/* fadeInFromTop keyframes */
@-webkit-keyframes fadeInFromTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes fadeInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* fadeOutToLeft keyframes */
@-webkit-keyframes fadeOutToLeft {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-200px);
  }
}

@keyframes fadeOutToLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-200px);
  }
}

/* fadeInFromLeft keyframes */
@-webkit-keyframes fadeInFromLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@keyframes fadeInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
