* p{
    font-size: 20px;
    font-family: "Poppins", sans-serif;

}
* ol li{
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}
.terms-main{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.terms{
    width: 90%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.terms-head p:nth-child(1){
    font-size: 45px;
    font-weight: 500;
    text-align: center;
}
.terms-head p:nth-child(2){
    font-size: 25px;
    text-align: center;
}
.terms-para{
    width: 90%;
    max-width: 1440px;
    
}
td{
    padding: 10px;
    font-size: 20px;
}
th{
    padding: 10px;
    font-size: 20px;
}
ul li{
    font-size: 20px;
    font-family: "Poppins", sans-serif;

}